h1{
    margin-left: 20px;
    margin-right: 20px;
    color: #002f34;
}


.header{
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_search{
    display: flex;
    flex: 1;
}

.header_searchIcon{
    padding: 12px;
    height: 22px !important;
    background-color: #002f34;
    color: white;
}
.searchInput{
    height: 12px;
    padding: 15px;
    border: 2px solid #002f34;
    width:  100%;
}

.header_locationSearch{
    height: 12px;
    padding: 15px;
    border: 2px solid #002f34;
    background: white;
    width:  25%;
}



.header_nav button{
    margin: 10px;
    font-weight: bolder;
    color: #002f34;
}

.header_locationhIcon{
    padding: 12px;
    height: 22px !important;
    background-color: #002f34;
    color: white;
    margin-right: 10px;
}

.btn-sell{
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 50px;
    transition: 0.5s;
    border: 3px solid #002f34;
    cursor: pointer;
}

.btn-sell:hover{
    text-decoration: none;
  }


